.scrollContainer {
    width: 100%;
    overflow-x: scroll;

    background-color: var(--color-text);
    color: var(--color-background);
}

.container {
    height: 50dvh;
    width: 100%;

    display: flex;
    gap: 2rem;
}

.container > * {
    flex-shrink: 0;
}