.scrollContainer {
    width: 100%;
    overflow-x: scroll;

    background-color: var(--black);
    color: var(--ivory);

    padding: 5rem 2.25rem;
}

.container {
    height: 50dvh;
    width: max-content;

    display: flex;
    gap: 4rem;
}

.container > * {
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .scrollContainer {
        padding: 2rem 1.25rem;
    }
    
    .container {
        align-items: center;
    }

    .container > * {
        height: 100%;
        max-width: 20rem;
    }
}