.hidden {
  opacity: 0;
}

.hidden_fade_in_left {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);

  transition: all var(--ease-out-back) 500ms;
}

.fade_in_left {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}

.hidden_fade_in_bottom {
  opacity: 0;
  transform: translateY(100%);
  filter: blur(10px);

  transition: all var(--ease-out-back) 500ms;
}

.fade_in_bottom {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0px);
}
