.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hiddenFadeInLeft {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);

  transition: all var(--ease-out-back) 500ms;
}

.fadeInLeft {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}

.hiddenFadeInBottom {
  opacity: 0;
  transform: translateY(100%);
  filter: blur(10px);

  transition: all var(--ease-out-back) 500ms;
}

.fadeInBottom {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0px);
}
