.parallax {
    position: relative;
    z-index: 0;

    min-height: 100%;

    display: grid;
    grid-template-areas: "stack";

    perspective: 2px;

    color: var(--color-licorice);
    font-weight: 700;
}

.parallax__back {
    position: absolute;

    object-fit: cover;
    object-position: 0 0;
    
    height: 100%;
    width: 100%;
}

.parallax__front {
    position: absolute;

    --size: 50rem;

    width: var(--size);
    height: var(--size);

    object-fit: cover;
    object-position: 0 0;

    bottom: 0;
    right: 0;

    filter: brightness(0.85);
}

.parallax__hero {
    position: absolute;
    bottom: 0;
    left: 0;

    height: min-content;
    width: 40%;

    padding: 2rem 3.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
    text-align: start;
}

@media (max-width: 700px) {
    .parallax__hero {
        width: 80%;

        font-size: 1.25rem;
    }

    .parallax__back {
        object-fit: none;
    }
}

/* Sets everything in the hero section to fill */
.parallax__hero * {
    width: 100%;
}