.container:not(.hero) {
    min-height: 100dvh;
    width: 80%;
    margin-inline: auto;

    padding-block: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    z-index: 0;
}

.container > p {
    width: 100%;
}

.vertical {
    flex-direction: column;
}

.container:not(.vertical) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1.5rem;

    max-width: 80ch;

    flex: 1;
}

.container.hero {
    height: calc(100dvh - 6.5rem);

    --border: 2px solid var(--color-text);

    border-top: var(--border);
    border-bottom: var(--border);

    font-size: 1.5rem;
}

.container.projects {
    height: 75dvh;
    
    border-top: var(--border);
    border-bottom: var(--border);

    margin-inline: 0;

    width: 100%;
    
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}