.container:not(.hero) {
    height: 100dvh;
    width: 80%;
    margin-inline: auto;

    padding-block: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    z-index: 0;

    overflow: hidden;

    border: 3px solid red;
}

.container.hero {
    position: relative;
    left: 0;
    right: 0;

    height: 75dvh;
    /* width: 100dvw; */

    border: 3px solid blue;
}