.container:not(.hero) {
    height: 100dvh;
    width: 80%;
    margin-inline: auto;

    padding-block: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    z-index: 0;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 80ch;

    flex: 1;
}

.container.hero {
    height: 75dvh;

    --border: 2px solid black;

    border-top: var(--border);
    border-bottom: var(--border);

    font-size: 1.5rem;
}