.container {
    padding: 0.625rem 1.325rem;

    font-size: 1.325rem;

    background-color: transparent;

    border: none;
}

.container::placeholder,
.container::-moz-placeholder {
    font-family: inherit;

    text-decoration: underline;
}

.label {
    font-size: 1.25rem;
}

.label.required::after {
    content: "*";

    font-size: 1.75rem;
    font-weight: 700;

    color: red;

    padding: 0 0.325rem;
}