.container {
    display: flex;
    justify-content: space-between;
}

.links {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-grow: 0.25;
}

.links li {
    font-size: 2rem;
}

.logo {
    font-size: 3rem;
}