.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);

  transition: all var(--ease-out-back) 500ms;
}

.show {
  opacity: 1;
  transform: translateX(0px);
  filter: blur(0px);
}
